body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e6e5e5;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #44885b;
    color: #f3f3f3;
    padding: 3vh;
}

time {
    min-width: 85px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    display: block;
    color: #ffffff;
    background-color: #9b3030;
    padding: 2vh;
    border-radius: 8px;
    border: none;
}

.inline-buttons {
    display: inline-flex;
}

.card {
    max-width: 80%;
    margin-top: 15vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 30px;
    border-color: rgb(196, 194, 194);
    box-shadow: 10px 5px 5px rgb(172, 172, 172);
}

#start-screen {
    display: inline;
    text-align: center;
}

.option-button {
    width: 100%;
    text-align: left;
    margin: 5px;
}
  
#result-div {
    display: none;
}

.inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
#initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
}

#back-button {
    margin-right: 8px;
}
  
.highscore-list {
    padding-inline-start: 20px;
}

@media screen and (min-width: 850px) {
    .card {
      max-width: 680px;
    }
}

@media (hover) {
    /* Stylings pertaining to hover pseudo-class*/
    a:hover {
      color: #cbe1e0;
    }
  
    button:hover {
      background-color: rgba(33, 131, 127, 0.5);
    }
}