:root {
    --primary: #040F0F;
    --secondary: #248232;
    --ligt-green: #2BA84A;
    --grey: #2D3A3A;
    --white: #FCFFFC;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary);
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary);
    color: var(--white);
    padding: 3vh;
}

time {
    text-align: right;
    min-width: 80px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    color: var(--white);
    background-color: var(--secondary);
    padding: 2.5vh;
    border-radius: 7px;
    border: none;
}

.more-buttons {
    display: inline-flex;
}

.container {
    font-size: 32px;
    color: var(--white);
    background-color: var(--grey);
    max-width: 75%;
    margin-top: 10vh;
    border: solid;
    border-width: 2px;
    padding: 5vw;
    border-radius: 50px;
}

#start-screen {
    display: inline;
    text-align: center;
}

.option-btn {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin: 5px;
}
  
#result-div {
    display: none;
}

.inline-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
#initials {
    width: 25%;
    margin: 8px;
    padding: 1vh;
}

#back-button {
    margin-right: 8px;
}
  
.highscore-list {
    padding-inline-start: 20px;
}

@media screen and (min-width: 850px) {
    .card {
      max-width: 680px;
    }
}

@media (hover) {
    a:hover {
      color: #cbe1e0;
    }
  
    button:hover {
      background-color: var(--ligt-green);
    }
}